/*****************************************************************************/
/**************************Reversal Slide Page********************************/
/*****************************************************************************/

.section-more-feathurs {
	position: relative;
	background: #fff;
	margin-top: 0px;
}
.section-services  {
	position: relative;
	background: #fff;	
}
.section-feathurs-work   {
	position: relative;
	background: #fff;	
}
.section-our-team   {
	position: relative;
	background: #fff;	
}
.section-our-capabilities   {
	position: relative;
	background: #fff;	
}
.section-recent-post    {
	position: relative;
	background: #fff;	
}
.section-price-table     {
	position: relative;
	background: #fff;	
}
.section-contact-us      {
	position: relative;
	background: #fff;	
}
.section-footer-copyright       {
	position: relative;
	
}
.section-choose-network p.text11{
	color: #fff;
}
.section-choose-network p.text12{
	color: #fff;
}
.section-choose-network .choose-button {
	border: 1px solid #fff;	
	color: #fff;
	
}
.section-choose-network h2 {
	color: #fff;
}
.section-choose-network .social-icon ul li a {
	color: #fff;
}
.section-choose-network .social-icon ul li {	
	background-image: url('../assets/images/six_angel_img11.png');	
}
.section-choose-network .social-icon ul li:hover {	
	background-image: url('../assets/images/six_angel_img6.png');	
}