<h4>ENTIDAD QUE PUBLICA LA WEB</h4>
<p class="single-text10">GLOBAL MAKEUP S.C.. C.I.F.: J99428021</p>
<p class="single-text10">Vía Hispanidad 83 Local 1, 50012, Zaragoza. info.globalmakeup@gmail.com. 619158063</p>
<br/><br/>
<h4>PROPIEDAD INTELECTUAL Y CONTENIDO</h4>
<p class="single-text10">
	GLOBAL MAKEUP S.C. es la entidad propietaria de los nombres de dominio que identifican al sitio web y es 
	titular del alojamiento de las páginas en el servidor oportuno, así como de las cuentas de correo electrónico 
	que pertenezcan al dominio citado. Así mismo, es propietaria de los contenidos publicados, textos y fotografías 
	mientras no se indique diferente propiedad.
</p>
<p class="single-text10">
	No está permitida la reproducción y/o publicación, total o parcial, del portal o sus contenidos, ni su tratamiento 
	informático, su distribución, su difusión, ni su modificación, transformación, ni demás derechos reconocidos legalmente 
	a sus titulares, sin el permiso previo, expreso y por escrito de los autores identificados o de GLOBAL MAKEUP S.C..
</p>
<br/><br/>
<h4>PROTECCIÓN DE DATOS DE CARÁCTER PERSONAL</h4>
<p class="single-text10">
	Los datos recibidos a través de los formularios o enlaces a correos electrónicos publicados en el sitio web serán incorporados 
	a un fichero creado exclusivamente con el fin expuesto en el formulario correspondiente. Los interesados podrán ejercer sus derechos 
	de consulta, rectificación, cancelación y oposición tal y como indica la legislación vigente. Para ello podrán dirigirse a las direcciones 
	electrónica y postal arriba indicadas. La información contenida en el fichero no será cedida a terceros en ningún caso. GLOBAL MAKEUP S.C. 
	es responsable del cumplimiento de la legislación vigente en materia de protección de datos personales en lo referente a este sitio web, 
	pero no lo es en ningún caso del cumplimiento por parte de las empresas o entidades a las que se pueda acceder a través de enlaces y/o 
	banners publicitarios insertados en el sitio web.		
</p>
<br/><br/>
<h4>LEY DE LA SOCIEDAD DE LA INFORMACIÓN Y COMERCIO ELECTRÓNICO</h4>
<p class="single-text10">
	En cumplimiento de la Ley 34/2002 de 11 de Julio, de Servicios de la Sociedad de la Información y de Comercio Electrónico, 
	y la Ley 32/2003, de 3 de noviembre, General de Telecomunicaciones se informa a los usuarios que el envío de los formularios 
	o correos electrónicos implicará el consentimiento expreso para recibir comunicaciones comerciales de GLOBAL MAKEUP S.C. mediante 
	correo electrónico o cualquier otro medio electrónico de comunicación. No obstante, sino desea seguir recibiendo comunicaciones 
	comerciales puede comunicarlo en VÍA HISPANIDAD 83 LOCAL 1, 50012, Zaragoza, info.globalmakeup@gmail.com.
</p>
<br/><br/>
<h4>POLÍTICA DE COOKIES DEL SITIO WEB</h4>
<p class="single-text10"><b>¿Qué son las cookies?</b></p>
<p class="single-text10">
	Una cookie es un fichero que se descarga en su ordenador al acceder a determinadas páginas web. Las cookies permiten a una página web, 
	entre otras cosas, almacenar y recuperar información sobre los hábitos de navegación de un usuario o de su equipo y, dependiendo de la 
	información que contengan y de la forma en que utilice su equipo, pueden utilizarse para reconocer al usuario.
</p>
<p class="single-text10"><b>¿Qué tipos de cookies utiliza esta página web?</b></p>
<ul>
	<li>
		<b>Cookies de análisis: </b>Son aquéllas que bien tratadas por nosotros o por terceros, nos permiten cuantificar el número de 
		usuarios y así realizar la medición y análisis estadístico de la utilización que hacen los usuarios del servicio ofertado. Para 
		ello se analiza su navegación en nuestra página web con el fin de mejorar la oferta de productos o servicios que le ofrecemos.
	</li>
	<li>
		<b>Cookies publicitarias: </b>Son aquéllas que, bien tratadas por nosotros o por terceros, nos permiten gestionar de la forma 
		más eficaz posible la oferta de los espacios publicitarios que hay en la página web, adecuando el contenido del anuncio al contenido 
		del servicio solicitado o al uso que realice de nuestra página web. Para ello podemos analizar sus hábitos de navegación en Internet 
		y podemos mostrarle publicidad relacionada con su perfil de navegación. Este sitio no instala este tipo de cookies.
	</li>
</ul>
<p class="single-text10"><b>Aprenda a bloquear las cookies</b></p>
<p class="single-text10">
	Puede usted permitir, bloquear o eliminar las cookies instaladas en su equipo mediante la configuración de 
	las opciones del navegador instalado en su ordenador.
</p>
<table>
	<tr>
		<th>NAVEGADOR</th>
		<th>MANUAL COOKIES (enlace externo)</th>
	</tr>
	<tr>
		<td>Internet Explorer</td>
		<td><a href="http://windows.microsoft.com/es-es/windows-vista/block-or-allow-cookies">manual</a></td>
	</tr>	
	<tr>
		<td>Firefox</td>
		<td><a href="https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we">manual</a></td>
	</tr>	             
    <tr>
		<td>Chrome</td>
		<td><a href="https://support.google.com/chrome/answer/95647?hl=es">manual</a></td>
	</tr>	  
	<tr>
		<td>Opera</td>
		<td><a href="http://help.opera.com/Windows/11.50/es-ES/cookies.html">manual</a></td>
	</tr>	                           
	<tr>
		<td>Safari</td>
		<td><a href="http://www.apple.com/es/privacy/use-of-cookies/">manual</a></td>
	</tr>	                         
</table>                           
<br/><br/>
<h4>LEGISLACIÓN APLICABLE</h4>                                
<p class="single-text10">
	Toda la controversia surgida de la interpretación del presente “Aviso Legal” se regirá por la legislación española, 
	en concreto a la jurisdicción de los Juzgados y Tribunales de Zaragoza.
</p>
