
body {
	line-height:1
}
ol, ul {
	list-style:none
}
blockquote, q {
	quotes:none
}
blockquote:before, blockquote:after, q:before, q:after {
	content:'';
	content:none
}
:focus {
	outline:0
}
ins {
	text-decoration:none
}
del {
	text-decoration:line-through
}
table {
	border-collapse:collapse;
	border-spacing:0
}
.clear {
	clear:both;
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0
}
th, td {
	margin:0;
	padding:0
}
table {
	border-collapse:collapse;
	border-spacing:0
}
.clear {
	clear: both;
}
br {
	line-height: 10px;
}
input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner {
 border : 0px;
}
input[type="submit"]:focus, input[type="button"]:focus {
	outline : none;
}

::selection {
	background: #fefac7; /* Safari */
	color: #555555;
}
::-moz-selection {
	background: #fefac7; /* Firefox */
	color: #555555;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
input, textarea {
  -webkit-appearance: none;
  border-radius: 0;
}
input[type="checkbox"]{
    -webkit-appearance: checkbox;
    width:10px;
}

input[type="radio"]{
    -webkit-appearance: radio;
    box-sizing: border-box;
    width:10px;
}
/*-----------------------------------------------------------------------------------*/
/*	GENERAL
/*-----------------------------------------------------------------------------------*/





h4 span {
    font-weight: 400;
    padding-left: 3px;
    text-transform: none;
    font-size: 12px;
    color: #979797;
}
h4 span:before {
    display: inline-block;
    content: "-";
    padding-right: 5px;
}
a {
    text-decoration: none;
    color: #ff6760;
    -webkit-transition: all 400ms ease-in;
    -o-transition: all 400ms ease-in;
    -moz-transition: all 400ms ease-in;
}
a:hover {
    color: yellow;
}
a.more {
    font-style: italic;
}
h2.post-title a {
    color: #616161
}
h2.post-title a:hover {
    color: #ff6760
}
a.button,
.forms fieldset .btn-submit,
.comment-form .btn-submit,
.filter li a,
.page-navi ul li a {   
	font-family: Lato;
	font-weight: normal;
	font-size: 13px;
	text-transform: capitalize;
	color: #FFF;
	display: inline-block;
	background-color: #e7e7e7;
	padding: 6px 10px;
	margin: 0;
	-webkit-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	cursor: pointer;
	margin-bottom: 20px;
	width: auto;
	border: none;
	text-align: center;
	letter-spacing: 0px;
}
a.button.red {
    background-color: #ff6760
}
a.button.pink {
    background-color: #ff6081
}
a.button.blue {
    background-color: #5daed5
}
a.button.aqua {
    background-color: #65ccd1
}
a.button.yellow {
    background-color: #ffc360
}
a.button.green {
    background-color: #5fcd90
}
a.button.purple {
    background-color: #9978c6
}
a.button.orange {
    background-color: #ee6325
}
.page-navi ul li a {
    padding: 6px 15px;
    margin-right: 3px;
}

a.button:hover,
.filter li a:hover,
.forms fieldset .btn-submit:hover,
.comment-form .btn-submit:hover,
.page-navi ul li a:hover,
.page-navi ul li a.current {
   
	text-decoration: none;
}
a.button.gray:hover {
    background: #404040;
}
.banner a.button:hover {
    background: #ebebeb;
    color: #4a4a4a;
}

img.margin {
    margin-bottom: 20px
}
.alignleft {
    float: left
}
.alignright {
    float: right
}
.aligncenter {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.center {
    text-align: center
}
img.alignleft {
    margin-right: 25px
}
img.alignright {
    margin-left: 25px
}
ul {
    padding-bottom: 20px
}


.contact-info li:before,
.touchcarousel .touchcarousel-item:before,
.social li:before,
.items li:before,
.filter li:before,
.tp-simpleresponsive ul li:before,
.item-info li:before,
.retina-icons li:before,
.client-list li:before,
#fancybox-thumbs ul li:before,
.progress-bar li:before,
.page-navi li:before,
.pricing .features ul li:before,
.post-list li:before,
#twitter ul li:before {
    display: none
}
ol {
    list-style: decimal;
    list-style-position: inside;
    padding-bottom: 20px;
}
ol li {
    padding: 0;
    margin: 0;
}
.dropcap {
    font-weight: 900;
    display: block;
    float: left;
    font-size: 45px;
    padding: 0;
    margin: 0;
    margin: 10px 8px 0 0;
    text-transform: uppercase;
}
.lite1 {
    color: #ff6760;
    
}
.lite2 {
    background: #fefac7
}
hr {
    border: none;
    border-bottom: 2px solid #efefef;
    padding-bottom: 30px;
    margin-bottom: 60px;
}
.download-box,
.warning-box,
.info-box,
.note-box {
    clear: both;
    margin: 10px 0px;
    padding: 13px 15px;
}
.info-box {
    background: #c2ddf9;
    border: 1px solid #80bbef;
    color: #4783b7;
}
.warning-box {
    background: #ffcccc;
    border: 1px solid #ff9999;
    color: #c31b00;
}
.download-box {
    background: #d1f7b6;
    border: 1px solid #8bca61;
    color: #5e9537;
}
.note-box {
    background: #fdebae;
    border: 1px solid #e6c555;
    color: #9e660d;
}
pre {
    margin: 0 0px 20px 0px;
    padding: 5px 10px;
    display: block;
    clear: both;
    background: #f7f7f7;
    border: 1px solid #e7e7e7;
}
blockquote p {
    font-size: 19px;
    font-weight: 300;
    line-height: 30px;
    padding: 0;
    padding-left: 12px;
    border-left: 2px solid #efefef;
    margin-bottom: 20px;
}
/*-----------------------------------------------------------------------------------*/
/*	STUCTURE
/*-----------------------------------------------------------------------------------*/
.top-wrapper {
    background: #2a2a2a
}
.light-wrapper {
    background: #FFF
}
.dark-wrapper {
    background: #f6f6f6
}
.inner {
    width: 1110px;
    margin: 0 auto;
    padding: 60px 0;
}
header .logo {
    float: left
}
header .menu {
    float: right
}
header {
    background-color: #262626;
    display: block;
}
.top-wrapper .inner {
    padding: 40px 0
}
.top-wrapper header .inner {
    padding: 35px 0 29px
}
p.description {
    font-weight: 300;
    color: #616161;
    font-size: 20px;
    line-height: 30px;
}
.top-wrapper .banner a.button {
    padding: 11px 30px;
    font-size: 13px;
}

/*-----------------------------------------------------------------------------------*/
/*	ISOTOPE PORTFOLIO GRID
/*-----------------------------------------------------------------------------------*/
.portfolio-wrapper {
    overflow: hidden
}
.items {
    width: 100%;
    clear: both;
	margin-bottom: 0px;
	padding: 0px;
}
.items li {
    float: left;
    position: relative;
    background: none;
    padding: 0;
}

.items.col4 {
    
}
.items.col4 li {    
    width: 270px;	
}
.items.col4 li:nth-child(5) {    
    width: 269px;	
}
.items.col4 li:nth-child(10) {    
    width: 269px;	
}
.items.col4 li:nth-child(15) {    
    width: 269px;	
}

.items li img {
    display: block
}
.item .overlay {
    display: none;
    height: 100%;
    position: absolute;
    text-decoration: none;
    width: 100%;
    z-index: 100;    
    padding: 20px;	
	text-align: center;
	padding-top: 65px;
	opacity: 0.9;
	-webkit-transition: background .33s linear;
	-moz-transition: background .15s linear;
	-o-transition: background .15s linear;
	transition: background .15s linear;
}
.meta1{
	color: #fff;	
}
.overlay .glyph{
	float: none;
	margin: 0px;
	width: 230px;
	padding-top: 45px;
	padding-bottom: 0px;
}
.item .overlay h3 {
    font-family: Code;
	color: #FFF;
	font-weight: bold;
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;	
	margin-bottom: 15px;
}
.item .overlay span.meta {
    font-family: Lato;
	color: #FFF;
	font-weight: normal;
	font-size: 14px;
	text-transform: uppercase;
	
}
.items:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.item a,
.item a img {
    display: block;
    position: relative;
}
.item a {
    overflow: hidden
}
.filter {
    padding: 0 0 25px 0;
    text-align: center;
	margin-top: 35px;
}
.filter li {
    margin: 0;
    background: none;
    display: inline;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    color: #616161;
}
.filter li a {
    
}
.isotope{}
.isotope-item {
    z-index: 2;
    display: block !important;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: top, left, opacity;
    transition-property: transform, opacity;
}
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}
.item-details {
    width: 300px;
    float: right;
    overflow: hidden;
}
.item-details p {
    line-height: 20px;
}
.item-details ul li {
   margin-bottom: 20px;
}
.item-details .item-info {
    padding-bottom: 20px
}
.item-details .item-info span {
    margin-right: 3px
}
.portfolio-content .item {
    margin-bottom: 60px
}

/*-----------------------------------------------------------------------------------*/
/*	BLOG WITH SIDEBAR
/*-----------------------------------------------------------------------------------*/
.content {
    width: 750px;
    float: left;
}
.sidebar {
    width: 300px;
    float: right;
}
.sidebox {
    border-top: 2px solid #efefef;
    padding-top: 60px;
    margin-top: 40px;
}
.sidebox h3 {
    font-size: 16px;
    margin-bottom: 15px;
}
.sidebox:first-child {
    border: none;
    margin: 0;
    padding: 0;
}
.post {
    border-bottom: 2px solid #efefef;
    padding-bottom: 53px;
    margin-bottom: 60px;
}
.post .info {
    margin-bottom: 20px
}
.post .overlay,
.post .video {
    margin-bottom: 20px
}
.overlay {
    display: block;
    position: absolute;
	top: 0px;
}

.overlay img {
    display: block;
    max-width: 100%;
}
.overlay a .more {
    display: none;
    height: 100%;
    position: absolute;
    text-decoration: none;
    width: 100%;
    z-index: 100;
    background: rgba(255,103,96, 0.92);
}
.overlay a .more:before {
    font-family: 'fontello';
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    position: absolute;
    text-align: center;
    content: '\f517';
    width: 20px;
    line-height: 1;
    font-size: 20px;
    color: #FFF;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -10px;
}
.post-list .overlay a .more:before {
    font-size: 17px
}
.post .info .date {
    background: #ff6760;
    overflow: hidden;
    width: 60px;
    height: 60px;
    text-align: center;
    float: left;
    font-weight: 400;
    color: #FFF;
    padding: 9px 0;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.post .info .details {
    min-height: 60px;
    font-weight: 400;
    font-size: 22px;
    float: left;
    margin-left: 20px;
}
.post .post-title {
    margin: 0 0 10px 0
}
.post .meta {
    font-size: 12px;
    color: #979797;
}
.post .meta .sep {
    padding: 0 3px
}
.post .meta span {
    display: inline
}
.post .info .date .day {
    display: block;
    font-size: 23px;
    line-height: 1;
}
.post .info .date .month {
    display: block;
    font-size: 13px;
    margin-top: -2px;
    text-transform: uppercase;
}

/*-----------------------------------------------------------------------------------*/
/*	SHOWCASE
/*-----------------------------------------------------------------------------------*/
.portfolio-detail-view,
.portfolio-detail-view-remove {
    position: absolute;
    height: 0px;
    overflow: hidden;
    background: #2a2a2a;
    color: #bebebe;
    width: 100%;
    padding: 0px;
    margin-bottom: 10px;
}
.box-layout .portfolio-detail-view,
.box-layout .portfolio-detail-view-remove	{	
	 width:100%;
}
.portfolio-detail-view .closebutton,
.portfolio-detail-view-remove .closebutton {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    background: #595959;
    width: 34px;
    height: 34px;
    display: block;
    text-align: center;
    color: #dfdfdf;
    float: left;
    margin-left: 4px;
    font-size: 15px;
    padding-top: 4px;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.portfolio-detail-view .closebutton:hover,
.portfolio-detail-view-remove .closebutton:hover {
    background: #ff6760;
    color: #FFF;
}
.portfolio-detail-view .inner,
.portfolio-detail-view-remove .inner {
    padding: 0px 0px
}
.portfolio-detail-content-container {
    position: relative;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 40px 0px;
}
.portfolio-detail-view h2 {
    color: #e0e0e0
}
.portfolio-detail-content-container .content {
    width: 770px;
    position: relative;
}
/*-----------------------------------------------------------------------------------*/
/*	SHOWCASE SLIDER
/*-----------------------------------------------------------------------------------*/
.content,
.portfolio-detail-view .single {
    position: relative
}
.carousel {
    position: relative;
    line-height: 1;
}
.carousel-inner {
    overflow: hidden;
    width: 100%;
    position: relative;
}
.carousel .item {
    display: none;
    position: relative;
    -webkit-transition: 0.6s ease-in-out left;
    -moz-transition: 0.6s ease-in-out left;
    -o-transition: 0.6s ease-in-out left;
    transition: 0.6s ease-in-out left;
}
.carousel .item .link,
.portfolio-detail-view .single .link {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background: #ebebeb;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #4a4a4a;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 15px;
    padding-top: 7px;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
}
.portfolio-detail-view .single .link {
    padding-top: 3px
}
.carousel .item:hover .link,
.portfolio-detail-view .single:hover .link {
    -moz-opacity: 1;
    filter: alpha(opacity=100);
    opacity: 1;
}
.carousel .item .link:hover,
.portfolio-detail-view .single .link:hover {
    background-color: #ff6760;
    color: #FFF;
}
.carousel .item .link:before,
.portfolio-detail-view .single .link:before {
    display: block;
    content: "\f50d";
    font-family: 'fontello';
    text-align: center;
}
.carousel .item > img {
    display: block;
    line-height: 1;
}
.carousel .active,
.carousel .next,
.carousel .prev {
    display: block
}
.carousel .active {
    left: 0
}
.carousel .next,
.carousel .prev {
    position: absolute;
    top: 0;
    width: 100%;
}
.carousel .next {
    left: 100%
}
.carousel .prev {
    left: -100%
}
.carousel .next.left,
.carousel .prev.right {
    left: 0
}
.carousel .active.left {
    left: -100%
}
.carousel .active.right {
    left: 100%
}
.carousel-control:before {
    font-family: 'fontello';
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 0;
    margin-top: 10px;
    text-align: center;
    width: 36px;
    font-size: 15px;
}
.carousel-control {
    position: absolute;
    top: 50%;
    left: 15px;
    width: 36px;
    height: 36px;
    margin-top: -18px;
    background: #ebebeb;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #4a4a4a;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}
.carousel-control:hover {
    background-color: #ff6760;
    color: #FFF;
}
.carousel:hover .carousel-control {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}
.carousel-control.left:before {
    
}
.carousel-control.right:before {
    
}
.carousel-control.right {
    left: auto;
    right: 15px;
}
.carousel-caption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    background: #333333;
    background: rgba(0, 0, 0, 0.75);
}
.carousel-caption h4,
.carousel-caption p {
    color: #ffffff;
    line-height: 20px;
}
.carousel-caption h4 {
    margin: 0 0 5px
}
.carousel-caption p {
    margin-bottom: 0
}

ul.three-image li{
	display:inline;
	float: left;	
	width: 40px!important;
}
ul.three-image li a{
	overflow:visible;
}
ul.three-image{
	margin-top: -85px;
	margin-left: 30px;
}
ul.three-image li img{
	position:absolute;
	z-index:99999999;	
}
.overlay ul li{
	display:inline;
	float: left;	
	width: 40px!important;
}

.portfolio-wrapper .filter-bg span.counter{
	color: white;
	background-color: #ae272c;
	padding: 7px 7px 7px 7px;
	border-radius: 3px;
	position: relative;
	left: -16px;
	top: -1px;
}
.portfolio-wrapper .filter-bg span.counter:hover{
	color: white;
	background-color: #24313e;
	padding: 7px 7px 7px 7px;
	border-radius: 3px;
	position: relative;
	left: -16px;
	top: -1px;
}
/*-------------------------------hover----------------------------------------------------*/

ul.items li.item img{
	width: 270px;
	height: 270px;
}
.overlay ul{
	margin-top: 20px;
	
}
#overlay-main {
    display: none;
    position: absolute;
	top: 0px;
	height:270px;
	width:270px;
	background-color:rgba(255,103,96, 0.92);
}
#overlay-main h3 {
    color:white;
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
	padding: 35px 5px 5px 5px;
}
#overlay-main span.meta {
    color:white;	
	text-align: center;
	padding: 5px 5px 5px 50px;
}
.items li:hover #overlay-main{
	display:block;
}
.portf-four-our-projects .link-zoom{
	background-image: url("../assets/images/port_tuhin_img/my_pro_arro2.html");
	position:absolute;
	z-index:999;
	width: 34px;
	height: 34px;
}
.portf-four-our-projects .link-target{
	background-image: url("../assets/images/port_tuhin_img/my_pro_arro1.html");
	position:absolute;
	z-index:999;
	width: 34px;
	height: 34px;
}
.portf-four-our-projects .link-iso{
	background-image: url("../assets/images/port_tuhin_img/my_pro_arro3.html");
	position:absolute;
	z-index:999;
	width: 34px;
	height: 34px;
}
/*---------------------------------hover--------------------------------------------------*/

