/*-----------------------------------------------------------------------------

REVOLUTION RESPONSIVE BASIC STYLES OF HTML DOCUMENT

Screen Stylesheet

version:   	1.0
date:      	26/06/12
author:		themepunch
email:     	support@themepunch.com
website:   	http://www.themepunch.com
-----------------------------------------------------------------------------*/


/**********************
	-	RESET	-
************************/
/***********************
	-	BASICS 	-
***********************/
html {
	overflow-x:hidden;
	padding: 0 !important;
	margin:0px !important;
}

	@-moz-document url-prefix() { 
		.bannercontainer {
			top: -14px!important;
		}
	}
	@-moz-document url-prefix() { 
		.slider-main-home{padding-top:1px!important;}
	}

	

  /*********************************************************************************************
		-	SET THE SCREEN SIZES FOR THE BANNER IF YOU WISH TO MAKE THE BANNER RESOPONSIVE 	-
  **********************************************************************************************/

  /*	-	THE BANNER CONTAINER (Padding, Shadow, Border etc. )	-	*/
.slider-main-home{background-color:#2c3e50;}
.slider-main-home > .bannercontainer{background-color:#2c3e50!important;}
  .slotholder{max-height:1000px!important;}
  .slotholder img{max-height:900px!important;}
  .bannercontainer {
		padding:0px;
		width:100%;
		position:relative;
		position:relative;
		margin-left:auto;
		margin-right:auto;
		height:1000px;
		overflow:hidden!important;
		

	}

  .banner{
		width:100%;

		position:relative;
		overflow:hidden!important;
   }


  /*	THE MEDIA CHOOSER TO SET DIFFERENT SIZES OF THE CONTAINER DEPENDING ON THE SCREEN SIZE    */
   @media (min-width: 768px) and (max-width: 959px) {

 		  .banner, .bannercontainer			{	width:100%; height:654px;}




   }

      @media (min-width: 640px) and (max-width: 767px) {
		   .banner, .bannercontainer		{	width:100%; height:650px;	}




   }
   
   @media (min-width: 480px) and (max-width: 639px) {
		   .banner, .bannercontainer		{	width:100%; height:500px;	}




   }

   @media (max-width: 479px) {
			.banner, .bannercontainer		{	width:100%;height:390px;	}




   }








